$principalFont: Georgia;
$fontColor: #826d5c;
$lightColor: #ead0ba;
$backgroundColor: #fffaf6;
$whiteColor: #ffffff;
$primary: $fontColor;

.banner {
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  height: 35rem;
  border-radius: 0 0 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation:  appear 1.5s;

  .bannerTitle {
    font-weight: bold;
    text-align: center;
    font-size: 10rem;
    color: $fontColor;
    font-family: $principalFont;
    animation: textAnimation 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
  }

  .bannerSubTitle {
    font-weight: 80;
    text-align: center;
    font-size: 5rem;
    color: $fontColor;
    font-family: $principalFont;
    animation: textAnimation 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
  }
}
@keyframes background-top {
  0% {
    transform: scale(0.90) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.01) translateY(-5px);
    transform-origin: top;
  }
}
@keyframes textAnimation {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bannerTop {
  background-color: $lightColor;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  width: 100%;
}

@media (min-width: 320px) {
  .banner {
    .bannerTitle {
      font-size: 4rem;
    }

    .bannerSubTitle {
      font-size: 3rem;
    }
  }

  .serviciosTitle {
    font-size: 1rem;
  }

  footer section a {
    font-size: smaller;
  }

  .imagNovedades {
    width: 25rem;
  }

  .col {
    padding: 0px;
    width: 25rem;
    align-items: center;
  }

  .serviciosCard {
    width: 25rem;
  }

  .row {
    justify-content: center;
  }
}