footer {
  background-color: $lightColor;
  border-radius: 35px 35px 0px 0px;
  color: $whiteColor;
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    text-align: justify;
    margin: 6rem;

    a {
      color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      font-size: 1.1rem;
      img{
      margin: 0.5rem;
      }
    }
  }
  a:hover {
    text-decoration: underline; 
  }
  h5 {
    font-size: 1.2rem;
    color: $whiteColor;
    margin-bottom: 1.5rem
  }
}

@media (max-width: 320px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 40rem;

    section {
      align-items: center;
    }
  }
}